<%= form_with(model: node, local: true) do |form| %>
  <% if node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
        <% node.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.hidden_field :parent_id %>
  </div>
 <%unless params[:parent_id]%>
    <div class="field">
      <%= form.label :type %>
      <%= form.select :node_type, collection: [["Series", 'series'], ["Film", 'film']] %>
    </div>
 <%else%>
    <%= form.hidden_field :node_type%>
 <%end%>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <!-- <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div> -->
  <%= form.hidden_field :state,  value: 'a'%>
  <%= form.hidden_field :account_id, value: current_user.accounts.last.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
