<div class="well" style="">
  <h5><%= node.name %></h5>
  <!-- <p class="text-muted"> <strong><%= node.node_type %></strong> on
    <%= l(node.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
    <p><%= node.description %></p>
  </blockquote> -->
  <% from_reply_form ||= nil %>
  <% unless from_reply_form %>
    <!-- <% if node.leaf? %>
      <p><%= link_to node.node_type_display, new_node_path(node.id) %></p>
    <% end %> -->
    <!-- <p><%= link_to 'Edit node', edit_node_path(node.id) %></p> -->
    <% unless node.node_type.blank? %>
      <% if node.node_type == 'series' %>
        <p><%= link_to 'Add Episodes', new_node_path(node.id) %></p>
      <% elsif node.node_type == 'episodes' %>
        <p><%= link_to 'Add Episode', new_node_path(node.id) %></p>
      <% elsif node.node_type == 'episode' %>
        <p><%= link_to 'Add Category', new_node_path(node.id) %></p>
      <% elsif node.node_type == 'category' %>
        <p><%= link_to 'Add Task', new_node_path(node.id) %></p>
      <%end%>
    <% else %>
      <p><%= link_to 'Add Child', new_node_path(node.id) %></p>
    <% end %>
      <!-- <p><%= link_to node.node_type_display, new_node_path(node.id) %></p> -->
  <% end %>
</div>
