

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="panel panel-default" style="width:50%;margin-top:50px;margin-left: 50px;">
    <div style="padding: 50px;margin-left: 50px;">

      <div class="form-group" >
        <%= f.input :email,
                    required: false,
                    label: false,
                    placeholder: "Email",
                    autofocus: true,
                    input_html: { autocomplete: "email", style: "width:80%" } %>
      </div>
      <div class="form-group" >
        <%= f.input :password,
                    label: false,
                    placeholder: "Password",
                    required: false,
                    input_html: { autocomplete: "current-password", style: "width:80%" } %>
      </div>
      <div class="form-group" style="margin-left:20px" >
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    </div>
  </div>
<% end %>
<div style="margin-left: 50px">
<%= link_to "+ New Account", new_account_path %><br />
<!--%= render "devise/shared/links" %-->
